  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@400;700&family=Satisfy&family=Source+Code+Pro:ital,wght@1,900&display=swap');

:root {
    --color1: #1d1b83;
    --color3: #344b80;
    --color2: #ffffff;

  }
.container{
    max-width: 1070px;
    max-height: 350px;
    margin: auto;
    background-image: linear-gradient(to bottom, #ebf4fd, rgba(235, 244, 253, 0));
    border-top: 1px solid transparent; 
    margin-top: 200px;
}

.container h1{
  margin-top: 100px;
  font-size: 43px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.84;
  letter-spacing: normal;
  text-align: left;
  color: var(--color1);
  margin-left: 200px;
}

.container h3{
color: var(--color3);
margin-left: 200px;
line-height: 1.62;
letter-spacing: normal;
text-align: left;
}

* {
    font-family: 'Poppins', sans-serif;
}

.formarea{
    margin: auto;
    justify-content: center;
    display: grid;
    gap: 30px;
}

input[type="text"]{
  max-height: 55px;
  max-width: 320px;
  height: 55px;
  width: 320px;
  border: solid 1px var(--color3);
  opacity: 0.2;;
  border-radius: 5px;
  text-align: left;
  padding-left: 30px;
  outline: none;
}

.iconmail {
  position: absolute;
  left: 30px;
}

input[type="text"][placeholder="Mail"] {
  padding-left: 59px;
  position: relative;
  width: 291px;
}

input[type="text"][placeholder="Mail"] + .iconwithspan1 {
  position: absolute;
  left: 100%; 
  top: 50%;
  transform: translateY(-50%);
}

.area1,  .area2{
    display: flex;
    gap: 30px;
}

input[type="text"]:focus{
  border: solid 1px var(--color1) !important;
  color: var(--color1) !important;
  opacity: 1;
}

.iconwithspan1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

label {
  width: 39px;
  height: 25px;
  margin: 46px 50px 44px 10px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #344b80;
}


input[type="radio"] {
  width: 30px;
  height: 30px;
  border: 2px solid #344b80;
  margin-right: 10px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
}


input[type="radio"]:checked {
  box-shadow: 0 0 0 1px var(--color1);
  background-color: var(--color1);
  border: 10px solid white;
  border-width: 10px;
}

.area3{
    max-height: 59px;
    display: flex;
    align-items: center;
}

select{
  max-height: 55px;
  max-width: 350px;
  width: 350px;
  height: 55px;
  border: solid 1px var(--color3);
  border-radius: 5px;
  text-align: left;
  padding-left: 30px;
  margin-left: auto;
  appearance: none;
  padding-right: 30px;
  font-size: 16px;
  color: var(--color1);
}

.sendimg{
  position: absolute;
}

#mesaj{
  max-height: 140px;
  max-width: 707px;
  height: 140px;
  width: 707px;
  border: solid 1px var(--color3);
  border-radius: 5px;
  text-align: left;
  padding-left: 30px;
  margin-left: auto;
}

textarea {
  width: 697px;
  height: 140px;
  margin: auto;
  position: relative; 
  padding: 10px;
  padding-left: 30px;
  border: 1px solid var(--color3);
  border-radius: 5px;
  resize: none; 
}

textarea::placeholder {
  color: var(--color3);
  margin-left: 30px;
}

input[type="submit"]{
  width: 161px;
  height: 55px;
  background-color: var(--color1);
  color: var(--color2);
  border-radius: 5px;
}

.area5{
  display: flex;
}

.send-button {
  padding: 15px 40px;
  background-color: var(--color1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  fill: white;
  margin-right: 10px;
}

